* {
	min-height: 0px;
}
body {
	font-family: "Patrick Hand", cursive;
	font-weight: 400;
	font-style: normal;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	border: 1px solid rgb(74, 75, 75);
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	padding: 10px;
}

.postcard-header h1 {
	width: 350px;
	margin: 0px;
	padding: 10px;
}

.postcard-body {
	display: flex;
}
.body-left {
	overflow: auto;
}

.body-right {
	display: flex;
	gap: 15px;
	flex-direction: column;
}

.body-left p:first-child {
	margin-top: 0px;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
}

p {
	font-size: 16px;
}
.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(70, 183, 249);
	padding: 10px;
	color: white;
	border: none;
	border-radius: 5px;
}
button:hover {
	background-color: rgb(79, 167, 148);
}
